<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/mohai/IdeaProjects/WebAutomationWithPOM">
        <classes>
<!--            <class name="com.parabank.parasoft.testCases.LoginTest">-->
<!--                <methods>-->
<!--                    <include name="titleTest"/>-->
<!--                    <include name="loginSucceed"/>-->
<!--                    <include name="loginFailed"/>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="com.parabank.parasoft.testCases.AccountOverviewTest"/>
        </classes>
    </test>
</suite>